
form {
  width: 400px;
  margin: 50px auto;
  text-align: center;
}

.input_class {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.submit_class {
  width: 200px;
  padding: 10px 20px;
  background-color: #B28F63;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.submit_class:hover {
  background-color: #867259;
}

.un_acc {
  margin:auto;
  margin-top: 10px;
  background-color: #B2A463;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  width: 200px;
}

.un_acc:hover {
  background-color: #867E59;
}

.a_un_acc {
  text-decoration: none; /* remove the underline */
  color: #732024; /* set the color of the link */
}

.a_un_acc:active, a:focus {
  outline: none; /* remove the highlight effect */
}

