

.register_form{
    text-align: center;
}

form {
  width: 400px;
  margin: 50px auto;
  text-align: center;
}

.input_class {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.submit_class {
  padding: 10px 20px;
  background-color: #B28F63;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.un_acc:hover {
  background-color: #867259;
}